body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  padding-bottom: 20px;
  text-align: right;
}

.datepicker-date-display {
  background-color: red;
}

.datepicker-container.modal-content {
  background-color: red;
}

.picker__box {
  background-color: red;
}